vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|1
vti_httpdversion:SX|Zeus/3.4
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACGroups vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirScript vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirExec vti_ServerIndexServer vti_ServerODBC vti_ServerASP
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
vti_dependenciesood:IR|0
vti_webservertype:SR|apache-fp
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_timecreated:TR|17 Apr 2001 14:59:51 -0000
vti_extenderversion:SR|4.0.2.2717
vti_navbuttonprevlabel:SR|Back
vti_borderdefault:SR|t
vti_longfilenames:IX|1
vti_welcomenames:VX|index.html
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en-us
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_autorecalc:IX|1
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_insecureserverurl:SR|http://www.thelawrences.net
vti_disableautoimgsizeexts:SX|.asp
vti_missingoverlays:VX|
vti_missingoverlaylabels:VX|
