.mstheme
{
	separator-image: url(kddrule.gif);
	list-image-1: url(kddbull1.gif);
	list-image-2: url(kddbull2.gif);
	list-image-3: url(kddbull3.gif);
	nav-banner-image: url(kddbnr.gif);
	navbutton-horiz-normal: url(kddhnd.gif);
	navbutton-horiz-hovered: url(kddhnd.gif);
	navbutton-horiz-pushed: url(kddhns.gif);
	navbutton-vert-normal: url(kddvnd.gif);
	navbutton-vert-hovered: url(kddvnd.gif);
	navbutton-vert-pushed: url(kddvns.gif);
	navbutton-home-normal: url(kddhom.gif);
	navbutton-home-hovered: url(kddhom.gif);
	navbutton-home-pushed: url(kddhom.gif);
	navbutton-next-normal: url(kddnex.gif);
	navbutton-next-hovered: url(kddnex.gif);
	navbutton-next-pushed: url(kddnex.gif);
	navbutton-prev-normal: url(kddpre.gif);
	navbutton-prev-hovered: url(kddpre.gif);
	navbutton-prev-pushed: url(kddpre.gif);
	navbutton-up-normal: url(kddup.gif);
	navbutton-up-hovered: url(kddup.gif);
	navbutton-up-pushed: url(kddup.gif);
}
.mstheme-bannertxt
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
}
.mstheme-horiz-navtxt
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-vert-navtxt
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 2;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxthome
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtnext
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtprev
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
.mstheme-navtxtup
{
	font-family: Comic Sans MS, Arial, Helvetica;
	color: rgb(255, 255, 204);
	font-size: 1;
	font-style: normal;
	font-weight: normal;
}
ul
{
	list-style-image: url(kddbull1.gif);
}
ul ul
{
	list-style-image: url(kddbull2.gif);
}
ul ul ul
{
	list-style-image: url(kddbull3.gif);
}
